@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;700&family=Overpass:wght@200;400;900&display=swap');

.indexPage {
    background-color: whitesmoke;
    width: 100vw;
    min-height: 100vh;
    left: 0;
    top: 0;
    position: absolute;
    font-family: 'Overpass Mono', monospace;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.intro {
    margin-top: 15vh !important; 
    justify-content: center;
    margin: 30vw 15vh;
    width: 35vw;
}

body, html {
    margin: 0;
}

// font-family: 'Overpass', sans-serif;

// 