.back {
	float: right;
}
.card {
	padding: 1rem;
	border: 1px solid white;
	width: auto;
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cardscontainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	/* This is better for small screens, once min() is better supported */
	/* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
	column-gap: 1vw;
	row-gap: 1vh;
}

.projectscontainer {
	margin: 0.5rem;
}

.cardimg {
	float: right;
	padding: 3px;
}

.cardlink {
	font-weight: 400;
	text-decoration-line: underline;
	text-decoration-thickness: 1px;
	text-decoration-style: solid;
	text-decoration-color: white;
}
